{% extends 'base_course.html' %}

{% block title %}Neev{% endblock %}

{% block header %}Neev{% endblock %}


{% block content %}
<div class="translucent-bg1"></div>

<div class="modal" id="viewModal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('viewModal')">&times;</span>
        
        <input name="course_id_hidden" id="hidden_course_volunteer" type="hidden">
        <div>
            <h2>Course Details</h2>
            <div>
                <label for="startDate">Start Date:</label>
                <input type="text" id="startDate" value="Start Date" readonly>
            </div>
            <div>
                <label for="endDate">End Date:</label>
                <input type="text" id="endDate" value="End Date" readonly>
            </div>
            <div>
                <label for="instructor">Instructor:</label>
                <input type="text" id="instructor" value="Instructor Name" readonly>
            </div>
            <div>
                <label for="venue">Venue:</label>
                <input type="text" id="venue" value="Venue" readonly>
            </div>
            <div>
                <label for="basicDetails">Basic Details:</label>
                <textarea id="basicDetails" rows="4" readonly>Basic Details</textarea>
            </div>
            <div>
                <label for="numStudents">Number of Students:</label>
                <a href="#pastStudentsModal">5</a>
            </div>
            <div>
                <label for="numVolunteers">Number of Volunteers:</label>
                <a href="#pastVolunteersModal">8</a>
            </div>
        </div>


        <div>
            <h2>Course Details</h2>
            <div>
                <label for="startDate">Start Date:</label>
                <input type="text" id="startDate" value="Start Date" readonly>
            </div>
            <div>
                <label for="endDate">End Date:</label>
                <input type="text" id="endDate" value="End Date" readonly>
            </div>
            <div>
                <label for="instructor">Instructor:</label>
                <input type="text" id="instructor" value="Instructor Name" readonly>
            </div>
            <div>
                <label for="venue">Venue:</label>
                <input type="text" id="venue" value="Venue" readonly>
            </div>
            <div>
                <label for="basicDetails">Basic Details:</label>
                <textarea id="basicDetails" rows="4" readonly>Basic Details</textarea>
            </div>
            <div>
                <label for="numStudents">Number of Students:</label>
                <a href="#pastStudentsModal">5</a>
            </div>
            <div>
                <label for="numVolunteers">Number of Volunteers:</label>
                <a href="#pastVolunteersModal">8</a>
            </div>
        </div>

    </div>
</div>

<!-- Modal for viewing past students -->
<div class="modal" id="pastStudentsModal">
    <div class="modal-content">
        <a href="#" class="close">&times;</a>
        <h2>Past Students</h2>
        <ul>
            <li>Veena Patel</li>
            <li>Student 2</li>
            <li>Student 3</li>
            <li>Student 4</li>
            <li>Student 5</li>
        </ul>
    </div>
</div>

<!-- Modal for viewing past volunteers -->
<div class="modal" id="pastVolunteersModal">
    <div class="modal-content">
        <a href="#" class="close">&times;</a>
        <h2>Past Volunteers</h2>
        <ul>
            <li>Ved Rathod</li>
            <li>Volunteer 2</li>
            <li>Volunteer 3</li>
            <li>Volunteer 4</li>
            <li>Volunteer 5</li>
            <li>Volunteer 6</li>
            <li>Volunteer 7</li>
            <li>Volunteer 8</li>
        </ul>
    </div>
</div>

{% endblock %}