{% extends 'base_course.html' %}

{% block title %}Neev{% endblock %}

{% block nav %}{%endblock%}

{% block header %}{{course[0][1]}}{%endblock%}


{% block content %}
<div class="translucent-bg1"></div>


{% for j in range(0,active_course|length) %}
<div class="card mx-4 my-4" style="width: 50rem;">
    <div class="card-body">
        <h6 class="card-title">
            {{j+1}}
        </h6>
        <p class="card-text">
        <div>
            <div>
                <label for="venue">From:</label>
                <input type="text" id="venue" value="{{ active_course[j][2]}}" readonly>
            </div>

            <div>
                <label for="venue">To:</label>
                <input type="text" id="venue" value="{{ active_course[j][3]}}" readonly>
            </div>

            <div>
                <label for="instructor">Instructor:</label>
                <input type="text" id="instructor" value="{{ instructors[j] }}" readonly>
            </div>


            <div>
                <label for="numStudents">Number of Students:</label>
                <a href="">{{stu_count[j]}}</a>
            </div>

            <table class="member-table">
                <thead>
                    <tr>
                        <th>Student Id</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in students[j] %}
                    <tr>
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div>
                <label for="numVolunteers">Number of Volunteers:</label>
                <a href="">{{vol_count[j]}}</a>
            </div>

            <table class="member-table">
                <thead>
                    <tr>
                        <th>Volunteer Id</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in volunteers[j] %}
                    <tr>
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>


        <div>
            <label for="numVolunteers">Students List:</label>

            <form method="POST" action="{{ url_for('en_stu')}} ">
                <select id="studentDropdown" name="student_enr">
                    {% for i in stud_not_in_course[j]%}
                    <option value="{{i[0]}}">{{i[1]}}, {{i[2]}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>

        <div>
            <label for="numVolunteers">Volunteer List:</label>

            <form method="POST" action="{{ url_for('en_stu')}} ">
                <select id="studentDropdown" name="student_enr">
                    {% for i in vol_not_in_course[j]%}
                    <option value="{{i[0]}}">{{i[1]}}, {{i[2]}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>


    </div>
    </p>


</div>
{% endfor %}


{% endblock %}