{% extends 'base_course.html' %}

{% block title %}Neev{% endblock %}

{% block header %}Neev{% endblock %}

{% block nav %}
<ul>
    <li><a href="{{ url_for('add_course') }}">Add Course</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="translucent-bg1"></div>
<table class="member-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Course_Name</th>
            <th>Details</th>
            <th>Venue</th>
            <th></th>
            <th>Activate</th>
            <th>Info</th>

        </tr>
    </thead>
    <tbody>
        {% for item in data%}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>
                <a href="{{ url_for('update_link',id=item[0]) }}">
                    <button class="btn btn-primary">
                        Update
                    </button>
                </a>

            </td>
            <td>
                <a href="{{ url_for('activate_course',id=item[0]) }}">
                    <button class="btn btn-primary">
                        Activate Course
                    </button>
                </a>
            </td>

            <td><a href="{{ url_for('course_details',id=item[0]) }}">Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}