{% extends 'base.html' %}

{% block content %}
    {{cid}}
{% endblock %}


 <!--      <td>
                {% if item[0] in active[1] %}
                <button onclick="showModal('studentModal','{{item[0]}}')">Student</button>
                <button onclick="showModal('volunteerModal','{{item[0]}}')">Volunteer</button>
                {%else%}
                -
                {% endif %}
            </td>-->



            
            <div>
                <label for="venue">Venue:</label>
                <input type="text" id="venue" value="{{course[0][3]}}" readonly>
            </div>
            <div>
                <label for="basicDetails">Basic Details:</label>
                <textarea id="basicDetails" rows="4" readonly>{{course[0][2]}}</textarea>
            </div>