<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles1.css')}}">
</head>
<body>
    <header>
        <h1>NEEV</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('add_donor')}}" >Add Donor</a></li>     
            <li><a href="{{ url_for('dashboard')}}">Back</a></li>
        </ul>
    </nav>
    <main>
        <div class="translucent-bg1"></div>
        <table class="member-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Amount</th>
                    <th>Details</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{item[1]}}</td>
                    <td>{{item[5]}}</td>
                    <td>{{item[4]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td>
                        <a href="{{url_for('update_donor_link', m_id=item[0])}}">Update</a>
                    </td>
                </tr>
                {% endfor %}
              
            </tbody>
            </tbody>
        </table>
    </main>
    <footer>
        <p>&copy; 2024 NEEV</p>
    </footer>
</body>
</html>
