<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles1.css')}}">
</head>
<body>
    <header>
        <h1>NEEV</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('add_instructor_link')}}" >Add Instructor</a></li>  
            <li><a href="{{ url_for('dashboard')}}" >Back</a></li>
        </ul>
    </nav>
    <main>
        <div class="translucent-bg1"></div>
        <table class="member-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Gender</th>
                    <th>Type</th>
                    <th>Identification_id</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td>{{item[4]}}</td>
                    <td>{{item[6]}}</td>
                    <td>{{item[5]}}</td>
                    <td>
                        <a href="{{url_for('update_instructor_link', s_id=item[0])}}">Update</a>
                    </td>
                    <td>
                        <a href="{{url_for('delete_instructor', s_id=item[0])}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer>
        <p>&copy; 2024 NEEV</p>
    </footer>
</body>
</html>
