{% extends 'base.html' %}

{% block title %}Neev{% endblock %}

{% block header %}Neev{% endblock %}

{% block nav%}
{% endblock %}

{% block content %}

    <!-- My Profile Title -->
    <h2 class="profile-title">My Profile</h2>

    <!-- Profile Content -->
    <div class="container2">
        <!-- Profile Photo -->
        {% if type == 'admin' %}
        <!-- <div class="profile-photo">
            <img src="Screenshot (46).png" alt="Profile Photo">
        </div> -->
        
        <!-- {{data}} -->
        <!-- Profile Details -->
        <div class="profile-details">
            <p><strong>User ID:</strong>{{data[0]}}</p>
            <p><strong>Name:</strong>{{data[2]}}</p>
            <p><strong>Email:</strong> {{data[1]}}</p>
        </div>
        {% else %}
            {{data}}
            <div class="profile-photo">
                <img src="Screenshot (46).png" alt="Profile Photo">
            </div>
            
            <!-- {{data}} -->
            <!-- Profile Details -->
            <div class="profile-details">
                <p><strong>User ID:</strong>{{data[0]}}</p>
                <p><strong>Name:</strong>{{data[2]}}</p>
                <p><strong>Email:</strong> {{data[1]}}</p>




                
                <p><strong>Email:</strong> {{data[1]}}</p>
            </div>
        {% endif %}
    </div>
    <div class="translucent-bg1"></div>
{% endblock %}
